* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #ffffff; /* Fundo branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.95); /* Fundo branco com leve transparência */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
  }
  
  h2 {
    color: #025c0e;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #025c0e;
    font-weight: bold;
  }
  
  input {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  button {
    background-color: #025c0e;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #01400a;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    color: #025c0e;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para mensagens de erro */
  .mensagem-erro {
    color: #ff4d4d;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  /* Animação */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  